# .Net core project
bin
obj
.vs
.vscode
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ProAgil-App/dist
ProAgil-App/tmp
ProAgil-App/out-tsc
# Only exists if Bazel was run
ProAgil-App/bazel-out

# dependencies
/ProAgil-App/node_modules

# profiling files
/ProAgil-App/chrome-profiler-events*.json

# IDEs and editors
/ProAgil-App/.idea
/ProAgil-App/.project
/ProAgil-App/.classpath
/ProAgil-App/.c9/
/ProAgil-App/*.launch
/ProAgil-App/.settings/
/ProAgil-App/*.sublime-workspace

# IDE - VSCode
.vscode
/ProAgil-App/!.vscode/settings.json
/ProAgil-App/!.vscode/tasks.json
/ProAgil-App/!.vscode/launch.json
/ProAgil-App/!.vscode/extensions.json
/ProAgil-App/.history/

# misc
/ProAgil-App/.sass-cache
/ProAgil-App/connect.lock
/ProAgil-App/coverage
/ProAgil-App/libpeerconnection.log
/ProAgil-App/npm-debug.log
/ProAgil-App/yarn-error.log
/ProAgil-App/testem.log
/ProAgil-App/typings
/ProAgil-App/.DS_Store
/ProAgil-App/Thumbs.db
